body{
  text-align: center;
  margin:0;
  padding:0;
}

.top-ber{
  height: 120px;
  width: 100%;
  background-color: #67a9ff;  
}

.title-up{
  vertical-align:100%;
  margin: 0 20px;
  position: absolute;
}
.title-down
{
  vertical-align:100%;
  margin: 0 20px;
  position: absolute;
}
.circle-one {
  background-color:rgb(255, 117, 117);
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
}
.circle-two {
  background-color:rgb(244, 255, 145);
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
}
.circle-big {
  background-color:rgb(244, 255, 145);
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
}






.cp_iptxt {
  position: relative;
	width: 30%;
	margin: 10px 3%;
  text-align: center;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 0.5em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #67a9ff;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:not(:placeholder-shown) + label{
  opacity: 0;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
  opacity: 1;
  font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #67a9ff;
}



.btn-border-bottom {
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #aaaaaa;  
  margin: 10px;
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#aaaaaa;
  transition: .2s;
}
.btn-border-bottom:hover {
  color: #67a9ff;  
  
}
.btn-border-bottom:hover:before{
  background:#67a9ff;
}



.title-image{
  width: 400px;
  height: 120px;
}



.form{
  
}