body{
  text-align: center;
  margin:0;
  padding:0;
}


/***トップバーのcss***/
.top-ber{
  height: 120px;
  width: 100%;
  background-color: #67a9ff;  
}
.title-image{
  width: 400px;
  height: 120px;
}
/***規約のリンクのcss***/
.kiyaku-link{
  position: absolute;
  text-decoration: none;
  top: 40px;
  left: 84.5%;
  font-size:15pt;
  color:#ffffff;
}
.kiyaku-p
{
  position: absolute;
  color:#ffffff;
  top: 60px;
  left: 80%;
}


/***規約の中身のcss***/
.kiyaku{
  text-align: start;
  margin-left: 30px;
  margin-right: 30px;
}


/***文字顔メーカーに飛ぶリンクのcss***/
.goback-home{
  text-align: center;
  text-decoration: none;
  font-size:20pt;
  color:#727272;
  display:block;
  margin-bottom: 20px;
}